@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior:smooth !important;
}
body{
    font-family: 'Poppins', sans-serif;
}

#background-video{
    width: 100%;
}
#bgContainer{
    clip-path: polygon(0 0, 100% 0%, 100% 26%, 0 52%);
}
#signBtn{
    background-color: rgba(242, 242, 242, 0.4);
}
#productSideDiv::-webkit-scrollbar {
        width: 0px;
      }


/* Animations for popup */
.popUpInit{
    display: none;
    transform: rotate(-100deg);
}

.popUpOpen {
	animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.popUpClose {
	animation: swing-in-top-bwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

  @keyframes swing-in-top-fwd {
    0% {
      
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
  }

  @keyframes swing-in-top-bwd {
    0% {
      
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
        z-index: 1;
    }
    100% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
        z-index: -1;
    }
  }
  

#mobi{
    background: url(/assets/mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}